 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Giovanna Lomanto is a California native currently pursuing her Bachelor of Arts in English at the University of California, Berkeley. When not writing her thesis, she is often busy working as a Program Associate and Teaching Artist at a made-in-Oakland creative writing center, Chapter 510 & the Dept. of Make Believe. She has recently worked at the UC Press and the Berkeley Student Cooperative.</p>
                </div>
                <div class="col-lg-4">
                    <p>On the off chance that she is not off learning or teaching, you'll find her in her co-op making pancakes for her housemates, going on walks around the Berkeley Rose Garden, or having extensive conversations with her friends and family. She has previously published a collection with Scrambler Books entitled <i>no body in particular</i>, and she hopes to continue exploring what it means to be Giovanna Lomanto. You're invited to join her.</p>
                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>
